.ic-form {
  display: flex;
  flex-direction: column;
}

.ic-form .ic-form-row {
  position: relative;
  min-width: 330px;
  margin-bottom: 10px;
}

.ic-form select {
  min-width: 100%;
  padding: 0.8rem;
  border: none;
  outline: none;
  font-size: 1.5rem;
  letter-spacing: 1rem;
  position: relative;
  border-radius: 5%;
  border-bottom: 3px solid var(--primary-color);
}

.ic-form select option {
  padding: 20px;
  letter-spacing: 2rem;
}

.ic-form select option:hover {
  background-color: var(--primary-color);
}

.ic-form button {
  border: none;
  outline: none;
  padding: 0.8rem 1.5rem;
  cursor: pointer;
  font-size: 1.2rem;
  background-color: var(--primary-color);
  color: white;
  transition: background-color 0.3s;
  font-weight: bold;
  border-radius: 5%;
}

.ic-form button:hover {
  background-color: var(--primary-color-dark);
}
